.widget {
  position: absolute;
  height: 550px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .widget-wrap {
    width: 250px;
    height: 110px;
  }

  &__roller {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 110px;
  }

  &__roller-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
  }
}
.chosen-tank {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 110px;
  border: 5px solid #5a9445;
  box-shadow: 4px 4px 15px 5px rgba(90, 148, 69, 0.25);
  border-radius: 25px;
  background: rgba(90, 148, 69, 0.08);
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #1e1e1e;
  border-top: 3px solid #5a9445;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.roll-button {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 40px;
  background-color: #5a9445;
  border: #1e1e1e;
  border-style: double;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.reset-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 40px;
  background-color: #f76463;
  border: #1e1e1e;
  border-style: double;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
